.navDisplay {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.Display {
  margin: auto;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.nameList {
  margin: auto;
}

.rows {
  text-align: center;
  margin: auto;
  color: brown;
}

.createContainer {
  text-align: center;
  margin: auto;
}

